ion-tabs {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-router-outlet {
  flex: 1;
  display: block;
  position: relative;
}
.tabs-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}