<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Transaction</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/profiles">
        {{ activeProfileName }}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollY]="false">

  <ion-item>
    <ion-input type="number" placeholder="Amount" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="debit">
        <ion-label>Debit</ion-label>
      </ion-segment-button>
      <ion-segment-button value="credit">
        <ion-label>Credit</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Category" [(ngModel)]="category"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Note" [(ngModel)]="note"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime presentation="date" [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <ion-button expand="block" (click)="saveExpense()">
    Save
  </ion-button>

</ion-content>