ion-content {
  --background: #121212;
}

ion-card {
  margin: 8px 0;
}

ion-card-title {
  font-size: 1.1rem;
}

ion-card-content {
  font-size: 1.5rem;
  font-weight: bold;
}

.button-group {
  margin-top: 12px;
}
