<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cashlio</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/profile" fill="clear">
        {{ activeProfileName || 'Profile' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Income</ion-card-title>
    </ion-card-header>
    <ion-card-content>₹ {{ income }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Expense</ion-card-title>
    </ion-card-header>
    <ion-card-content>₹ {{ expense }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Balance</ion-card-title>
    </ion-card-header>
    <ion-card-content>₹ {{ balance }}</ion-card-content>
  </ion-card>

  <div class="button-group">
    <ion-button expand="block" routerLink="/tabs/add-expense">Add Transaction</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/tabs/history">View History</ion-button>
  </div>
</ion-content>
